canvas {
    filter: sepia(.55) saturate(.9) contrast(1.05) brightness(.9);
    background: url("../images/lhv2.png");
    background-size: cover;
    background-position: -20px;
    border-radius:16px;
}