<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <welcome-file-list>
        <welcome-file>/WEB-INF/index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>400</error-code>
        <location>/WEB-INF/errors/400.jsp</location>
    </error-page>
    <error-page>
        <error-code>422</error-code>
        <location>/WEB-INF/errors/422.jsp</location>
    </error-page>

    <servlet>
        <servlet-name>resultPage</servlet-name>
        <jsp-file>/WEB-INF/result.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>resultPage</servlet-name>
        <url-pattern>/points/check/result</url-pattern>
    </servlet-mapping>
</web-app>